### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### CUSTOM ###
**/target/
.mvn/
dependency-reduced-pom.xml
**/*.log

### Gradle ###
.run/
.gradle/
gradle/
**/*/gradlew
**/*/gradlew.bat
build/
